*{
  box-sizing: border-box;
}
html,
body {
    height: 100%;
}
.App {
  height: 100%;
  position: relative;
}

.App-logo {
  height: 100px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
header{
  background-color: #364555;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 70px;
}

nav li {
  list-style: none;
  display: inline-block;
  padding: 20px 15px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

nav a:hover{
  color: #61dafb;
}

main {
  background-color:#fafafa;
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  min-height: 100%;
}

.CardList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin-top: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
  padding: 24px;
  border-radius: 10px;
  background-color:#fff;
}

.Card {
  width: 20%;
  background-color: #fff;
  margin: 20px;

}

.Card img{
  height: 100px;
}

.Card a{
  color: #57b8d3;
  text-decoration: none;
  font-weight: bold;
}

footer {
  flex: 0 0 auto;
  position: absolute;
  
}